body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-error {
  color: red;
  font-size: .75rem;
  padding: 0.25rem 0.5rem 1rem 0.5rem; 
} 

.user-container {
  border: 1px solid #ccc;
  margin: 1rem;
  padding: 1rem;
}

.user-container > p {
  padding: 0.25rem 0;
  margin: 0;
}